[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/LaurentGomila/SFML.git
[submodule "lib/lacewing"]
	path = lib/lacewing
	url = https://github.com/udp/lacewing.git
[submodule "lib/json-parser"]
	path = lib/json-parser
	url = https://github.com/udp/json-parser.git
[submodule "lib/json-builder"]
	path = lib/json-builder
	url = https://github.com/udp/json-builder.git
